.list {
    display: block;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.title {
    margin-bottom: 10px;
}

.item {
    margin-bottom: 10px;
    padding: 20px;
    border: orange 2px solid;
    list-style-type: none;
}

.button {
    margin-top: 10px;
}